.MuiTypography-root.MuiTypography-body1.MuiTypography-gutterBottom{
 color: #333;
 font-size: 18px;
 letter-spacing: 0px;
 text-transform: none;
 
 

}

.title-news{
    font-weight: bold !important;  
}