.wrapper {
  z-index: 3;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

#AppBar {
  /* background-color: rgb(97, 133, 155); */
  background-color: #972239;
  background-image: linear-gradient(315deg, #972239 0%, #db6885 74%);

  height: 3.5rem;
}
/* #site-deader-container {
  padding-top: 50rem;
} */
.site-header{
  padding-top: 50rem;
}
#top-header {
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
}
#navbtn{
  margin-left: 0;
  font-weight: bold;
}

#QuizNavBtn {
  border-radius: 10rem;
  background-color: rgb(204, 197, 191);
}
a:link {
  color: white;
}

a:visited {
  color: white;
}

.left-nav-tabs {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.right-nav-tabs button {
  margin-right: 1rem;
  width: 6rem;
}

.navbar-cont .nav-item {
  margin-right: 3rem;
}
.yellow-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 3.5rem;
  transform: rotate(90deg);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10000;
}
.ProductHeroLayout-arrowDown-135 {
  opacity: 0;
}
.modal-main {
  position:fixed;
  background: white;
  width: 60%;
  height: 70%;
  top:10%;
  left:50%;
  padding: 20px;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.modal-close {
  position: fixed;
  left: -8px;
  top: -8px;
}
#home-scroll-text {
  margin-top: 5rem;
}
.display-block {
  display: block;
}

.display-none {
  display: none;
}

li {
  display: block;
}

#our-mission-container {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
#home-container {
  width: 100px !important;
}
#our-mission-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-block {
  position: absolute;
  bottom: 50%;
  opacity: 1;
  color: white;
}

.container {
  padding: 0;
}

#nav-tabs {
  display: flex;
  justify-content: flex-end;
}

.ProductHeroLayout-arrowDown-131 {
  position: relative;
  top: 85vh !important;
}
.ProductHeroLayout-arrowDown-135 {
  top: 86vh;
}
.AppAppBar-rightLink-7 {
margin-left: 0px;
}

.ProductHeroLayout-backdrop-129 {
  opacity: 0 !important;
  background-color: none !important;
}

.AppAppBar-placeholder-2 {
  height: 3.5rem;
}

.AppAppBar-placeholder-72 {
  height: 3.5rem !important;
}
#home-quiz-button {
  border-style: solid;
  border-radius: .3rem;
  margin-top: 3rem;
}

.OurMission-root-139 {
  background-color: white;
}

.terms-and-conditions {
  font-size: 0.4rem;
  width: 50%;
  /* margin-left: 25%; */
}
.inner-modal-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#quiz-start-button {
  width: 17rem;
}
.bogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bogo-container {
  padding-top: 2rem;
}
.bogo-sub-header {
  margin-top: 1.5rem;
}
.partnership-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40rem;
  margin-top: 2rem;
}
#bogo-stories-button{
  margin-top: 2rem;
  background-color: #01CFFC;
}
.misison-campaign {
  color: #01CFFC;
}
.bogo-read-more-text {
  margin-top: 1rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Typography-markedH4Center-10 {
  background-color: #F6D100 !important;
}
.lnr-earth:before {
  color: #F6D100;
}
.lnr-thumbs-up:before {
  color: #F6D100;
}
.lnr-clock:before{
  color: #F6D100;
}
.Typography-markedH3Center-9 {
  background-color: #01CFFC !important;
}
