.App {
  text-align: center;
}

/* body {
  margin: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
} */

.navbar-cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  right: 0;
  top: 0;
  left: 0;
  font-size: 1rem;
  font-family: 'Merriweather Sans', sans-serif;
}

#nav {
  height: 3.5rem;
  background-color: transparent;
  display: block;
  position: fixed;
  z-index: 99999;
  transition: all ease .5s;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

.navbar-cont .nav-item {
  margin-right: 3rem;
}

#nav.shrink {
  height: 3.5rem;
  transition: all ease .5s;
  background: #565f6f;
}

li {
  display: block;
}

/* .home-section{
  padding-top: 0;
  width: 100%;
} */

#home-container {
  width: 100px !important;
}

.text-block {
  position: absolute;
  bottom: 50%;
  opacity: 1;
  color: white;
}

.container {
  padding: 0;
  margin: 0;
}

#nav-tabs {
  display: flex;
  justify-content: flex-end;
}
