.wrapper {
  z-index: 3;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

/* .navbar-cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  right: 0;
  top: 0;
  left: 0;
  font-size: 1rem;
  font-family: 'Merriweather Sans', sans-serif;
} */

/* #nav {
  height: 2rem;
  background-color: transparent;
  display: block;
  position: fixed;
  z-index: 99999;
  transition: all ease .5s;
} */

#AppBar {
  background-color: rgb(97, 133, 155);
  height: 3.5rem;
}

#navbtn{
  margin-left: 0;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

.left-nav-tabs {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.right-nav-tabs button {
  margin-right: 1rem;
  width: 6rem;
}

.navbar-cont .nav-item {
  margin-right: 3rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10000;
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: 80%;
  top:10%;
  left:50%;
  padding: 20px;
  transform: translate(-50%, 0);
}

.modal-close {
  position: fixed;
  left: -8px;
  top: -8px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

#nav.shrink {
  height: 2rem;
  transition: all ease .5s;
  background: #565f6f;
}

li {
  display: block;
}

/* .home-section{
  padding-top: 0;
  width: 100%;
} */

#home-container {
  width: 100px !important;
}

.text-block {
  position: absolute;
  bottom: 50%;
  opacity: 1;
  color: white;
}

.container {
  padding: 0;
}

#nav-tabs {
  display: flex;
  justify-content: flex-end;
}

.ProductHeroLayout-arrowDown-131 {
  position: relative;
  top: 85vh !important;
}

.AppAppBar-rightLink-7 {
margin-left: 0px;
}

.ProductHeroLayout-backdrop-129 {
  opacity: 0 !important;
  background-color: none !important;
}

.AppAppBar-placeholder-2 {
  height: 3.5rem;
}

#home-quiz-button {
  border-style: solid;
  border-radius: .3rem;
}

.OurMission-root-139 {
  background-color: white;
}
